<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>108555357298-3bd5b5a0l407ue12dtduubc06iad90s7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.108555357298-3bd5b5a0l407ue12dtduubc06iad90s7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>108555357298-9us67c935jqji9gths0qe7v7s0h91c35.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBdepypPHLpxFr3B5hXhCsQmt4kIC23AMA</string>
	<key>GCM_SENDER_ID</key>
	<string>108555357298</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.elaajapp</string>
	<key>PROJECT_ID</key>
	<string>elaaj-authentication</string>
	<key>STORAGE_BUCKET</key>
	<string>elaaj-authentication.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:108555357298:ios:3641d0c69a5d9fbc5ec6eb</string>
</dict>
</plist>